*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightblue;
}

.container{
    background-color: #FFF;
    width: 20rem;
    height: 13rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.top{
    text-align: center;
}

.btn{
    box-sizing: border-box;
    border-radius: 50%;
    padding: 12px;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

.red{
    border: 1px solid tomato;
}

.orange{
    border: 1px solid orange;
}

.green{
    border: 1px solid green;
}

.red:hover{
    background-color: tomato;
    color: #FFF;
}

.orange:hover{
    background-color: orange;
    color: #FFF;
}

.green:hover{
    background-color: green;
    color: #FFF;
}

.container h4{
    color: grey;
    font-weight: 400;
    cursor: pointer;
}